extract_CHEALSA_TS.py
extract_APHRO_V1101-EXR1.py
extract_CHELSA_cru.py
extract_APHRO_V1101.py
extract_ERA5_hourly.py
extract_APHRO_V1808-R1.py
extract_HAR10_v2_daily.py
extract_APHRO_V1808.py
extract_HAR30.py
extract_APHRO_V1901.py
extract_HAR30_daily.py
.DS_Store